@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
:root {
  --primary: #08aeea;
  --secondary: #13d2b8;
  --purple: #bd93f9;
  --pink: #ff6bcb;
  --blue: #8be9fd;
  --gray: #333;
  --fontPoppins: "Poppins", sans-serif;
  --fontRoboto: 'Roboto', sans-serif;
  --shadow: 0 0 15px 0 rgba(0, 0, 0, 0.05);
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  max-width: 70% !important;
  margin: 0 auto !important;
  font-family: var(--fontPoppins) !important;
  font-size: 1.4rem !important;
  overflow-x: hidden !important;
  font-weight: 400 !important;
}

img {
  display: block;
  max-width: 100%;
}

a {
  text-decoration: none;
}

input,
button,
textarea,
select {
  font-family: var(--fontPoppins);
  font-size: 1.4rem;
  font-weight: 300;
  outline: none;
  border: 0;
  margin: 0;
  padding: 0;
  border-radius: 0;
  -webkit-appearance: none;
}

button {
  cursor: pointer;
}

.table {
  box-shadow: var(--shadow);
}

td, input {
  font-family: var(--fontRoboto) !important;
  font-weight: 400 !important;
  font-size: 1.6rem !important;
}
